.area{
    background-color: black;
    color: white;
    justify-content: center;
    display: flex;
    height: 600px;
}

.input_area{
    background-color: black;
    color: white;
    padding: 10px;
}

button{
    background-color: orangered;
    cursor: pointer;
    height: 33px;
    color: white;
    width: 210px;
    display: flex;
    justify-content: center;
}

input{
    width: 180px;
    height: 20px;
}

textarea{
    height: 75px;
    width: 200px;
    display: flex;
}